In [367]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
import re
import string

In [368]:
data_fake = pd.read_csv('Fake.csv')
data_true = pd.read_csv('True.csv')

In [369]:
data_fake.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [370]:
data_true.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [371]:
data_fake["class"] = 0
data_true["class"] = 1

In [372]:
data_fake.shape, data_true.shape

((23481, 5), (21417, 5))

In [373]:
data_fake_manual_testing = data_fake.tail(10)
for i in range(23480, 23470, -1):
    data_fake.drop([i], axis = 0, inplace = True)


data_true_manual_testing = data_true.tail(10)
for i in range(21416, 21406, -1):
    data_true.drop([i], axis = 0, inplace = True)

In [374]:
data_fake.shape, data_true.shape

((23471, 5), (21407, 5))

In [375]:
data_fake_manual_testing['class'] = 0
data_true_manual_testing['class'] = 1

/var/folders/gf/jkn1gdks7lz8fwq93gjjwgj00000gp/T/ipykernel_55859/277247672.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_fake_manual_testing['class'] = 0
/var/folders/gf/jkn1gdks7lz8fwq93gjjwgj00000gp/T/ipykernel_55859/277247672.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_true_manual_testing['class'] = 1

In [376]:
data_true_manual_testing.head(10)

,title,text,subject,date,class
21407,"Mata Pires, owner of embattled Brazil builder ...","SAO PAULO (Reuters) - Cesar Mata Pires, the ow...",worldnews,"August 22, 2017",1
21408,"U.S., North Korea clash at U.N. forum over nuc...",GENEVA (Reuters) - North Korea and the United ...,worldnews,"August 22, 2017",1
21409,"U.S., North Korea clash at U.N. arms forum on ...",GENEVA (Reuters) - North Korea and the United ...,worldnews,"August 22, 2017",1
21410,Headless torso could belong to submarine journ...,COPENHAGEN (Reuters) - Danish police said on T...,worldnews,"August 22, 2017",1
21411,North Korea shipments to Syria chemical arms a...,UNITED NATIONS (Reuters) - Two North Korean sh...,worldnews,"August 21, 2017",1
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [377]:
data_fake_manual_testing.head(10)

,title,text,subject,date,class
23471,Seven Iranians freed in the prisoner swap have...,"21st Century Wire says This week, the historic...",Middle-east,"January 20, 2016",0
23472,#Hashtag Hell & The Fake Left,By Dady Chery and Gilbert MercierAll writers ...,Middle-east,"January 19, 2016",0
23473,Astroturfing: Journalist Reveals Brainwashing ...,Vic Bishop Waking TimesOur reality is carefull...,Middle-east,"January 19, 2016",0
23474,The New American Century: An Era of Fraud,Paul Craig RobertsIn the last years of the 20t...,Middle-east,"January 19, 2016",0
23475,Hillary Clinton: ‘Israel First’ (and no peace ...,Robert Fantina CounterpunchAlthough the United...,Middle-east,"January 18, 2016",0
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016",0
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016",0
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016",0
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016",0
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016",0

In [378]:
data_merge = pd.concat([data_fake, data_true], axis = 0)
data_merge.head(10)

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
5,Racist Alabama Cops Brutalize Black Boy While...,The number of cases of cops brutalizing and ki...,News,"December 25, 2017",0
6,"Fresh Off The Golf Course, Trump Lashes Out A...",Donald Trump spent a good portion of his day a...,News,"December 23, 2017",0
7,Trump Said Some INSANELY Racist Stuff Inside ...,In the wake of yet another court decision that...,News,"December 23, 2017",0
8,Former CIA Director Slams Trump Over UN Bully...,Many people have raised the alarm regarding th...,News,"December 22, 2017",0
9,WATCH: Brand-New Pro-Trump Ad Features So Muc...,Just when you might have thought we d get a br...,News,"December 21, 2017",0

In [379]:
data_merge.columns

Index(['title', 'text', 'subject', 'date', 'class'], dtype='object')

In [380]:
data = data_merge.drop(['title', 'subject', 'date'], axis = 1)

In [381]:
data.isnull().sum()

text     0
class    0
dtype: int64

In [382]:
data = data.sample(frac = 1)

In [383]:
data.head()

                                                    text  class
13958  BRUSSELS (Reuters) - European Union Brexit neg...      1
6130   WASHINGTON (Reuters) - President Donald Trump ...      1
3081   WASHINGTON (Reuters) - The White House is brin...      1
10540  Never mind that the Trump s had a previous eng...      0
9975   Detroit s own Kid Rock will open the all-new L...      0

In [384]:
data.reset_index(inplace = True)
data.drop(['index'], axis = 1, inplace = True)

In [385]:
data.columns

Index(['text', 'class'], dtype='object')

In [386]:
data.head()

                                                text  class
0  BRUSSELS (Reuters) - European Union Brexit neg...      1
1  WASHINGTON (Reuters) - President Donald Trump ...      1
2  WASHINGTON (Reuters) - The White House is brin...      1
3  Never mind that the Trump s had a previous eng...      0
4  Detroit s own Kid Rock will open the all-new L...      0

In [387]:
def wordopt(text):
    text = text. lower()
    text = re.sub('\[.*?\]','',text)
    text = re.sub("\\W", " ", text)
    text = re.sub ('https?://\S+/www\. \S+','', text)
    text = re.sub('<.*?>+', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation),'', text)
    text = re.sub('\n', '', text)
    text = re.sub ('\w*Id\w*','', text)
    return text

In [388]:
data['text'] = data['text'].apply(wordopt)

In [389]:
x = data['text']
y = data['class']

In [390]:
x_test, x_train, y_test, y_train = train_test_split(x,y, test_size = 0.25)

In [391]:
from sklearn.feature_extraction.text import TfidfVectorizer      

vectorizaton = TfidfVectorizer()
xv_train = vectorizaton.fit_transform(x_train)
xv_test = vectorizaton.transform(x_train)

In [423]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(solver = 'liblinear')

model.fit(xv_train, y_train)

LogisticRegression(solver='liblinear')

In [433]:
prediction = model.predict(xv_test)

In [434]:
prediction

array([1, 1, 1, ..., 0, 1, 1])

In [436]:
model.score(xv_train, y_train)

0.9878787878787879

In [431]:
print(classification_report(y_train, prediction))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99      5995
           1       0.98      0.99      0.99      5225

    accuracy                           0.99     11220
   macro avg       0.99      0.99      0.99     11220
weighted avg       0.99      0.99      0.99     11220

In [432]:
from sklearn.tree import DecisionTreeClassifier

In [437]:
decision = DecisionTreeClassifier()
decision.fit(xv_train, y_train)

DecisionTreeClassifier()

In [438]:
dec_predict = decision.predict(xv_test)

In [440]:
decision.score(xv_test, y_test)

ValueError: Found input variables with inconsistent numbers of samples: [33658, 11220]